body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #334d6e;
    color: white;
    padding: 10px;
    text-align: center;
}

tbody td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

tbody tr:nth-child(2) td {
    font-size: 24px;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

thead th:first-child,
tbody td:first-child {
    background-color: #e9edf4;
    font-weight: bold;
    text-align: left;
}

tbody td:last-child {
    background-color: #f7fbff;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
